#!/bin/sh

# Docker CE repo
sudo dnf config-manager addrepo --from-repofile=https://download.docker.com/linux/fedora/docker-ce.repo

# COPR repos
sudo dnf -y copr enable chronoscrat/starship
sudo dnf -y copr enable alternateved/eza

# DNF package file hash: {{ include "DnfPackages" | sha256sum }}
sudo dnf -y install $(<{{ joinPath .chezmoi.sourceDir "DnfPackages" | quote }})

# Start docker service
sudo systemctl enable --now docker

# Add me to docker group
sudo usermod -aG docker $USER

# Flatpak package file hash: {{ include "FlatpakPackages" | sha256sum }}
flatpak install --assumeyes --or-update $(<{{ joinPath .chezmoi.sourceDir "FlatpakPackages" | quote }})
